:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    
    --primary-color: #fdf6e3;
    --secondary-color: #fdf6e3;

    --background: var(--primary-color);
    --main-background: #fdf6e3;

    --logo-color: #333;
    --text-color: #333;
    --link-color: #bb9595;

    --nav-text-color: #333;

    --main-shadow: rgba(0, 0, 0, 0.25);

    --paper-border: 1px solid #000000;
    --paper-shadow: 3px 3px 0px var(--main-shadow);
    --paper-min-width: 450px;

    --max-width: 700px;
    --min-width: 450px;

    --heading-font: 'Inter';
    --mono-font: 'Ubuntu Mono';
    --body-font: 'Inter';
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: var(--body-font); */
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--main-background);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    flex-wrap: wrap;
    font-size: 4rem;
    color: var(--text-color);
}

h2 {
    text-align: left;
    flex-wrap: wrap;
    font-size: 3rem;
    color: var(--text-color);
}

h3 {
    text-align: left;
    flex-wrap: wrap;
    font-size: 2rem;
    color: var(--text-color);
}

p {
    text-align: left;
    flex-wrap: wrap;
    font-size: 0.9rem;
    color: var(--text-color);

}

a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 0.9rem;
    font-family: var(--body-font)
}

span {
    font-size: 1.25rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--button);
    box-sizing: border-box;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    border: var(--paper-border);
    font: var(--mono-font);
    padding: 0;
    font-size: 0.75rem;
}

#button_0 {
    background-color: #85ad89;
}

#button_1 {
    background-color: #9cc09f;
}

#button_2 {
    background-color: #b2d1b5;
}

#button_3 {
    background-color: #c6ddc8;
}

#button_4 {
    background-color: #dbebdc;
}

#button_5 {
    background-color: #f1f8f1;
}

#button_6 {
    background-color: #ffffff
}

button:hover {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    background-color: #f7e1fa;
}

nav {
    background-color: var(--main-background);

    width: 70%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    
    margin: 0 auto;
    margin-top: 45px;
    top: 0px;
    padding-bottom: 0.75ch;

    box-sizing: border-box;
    box-shadow: 5px 0px var(--main-background);
    border: var(--paper-border);
    border-top: 0;
    border-left: 0;
    border-right: 0;

    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;    
}

nav .logo h1 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--logo-color);
    padding: 0;
    margin: 0;
    margin-bottom: -0.2ch;
}


nav .nav-links {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;

    text-align: start;
    margin: 0;
    padding: 0;
    font-family: var(--mono-font);
}

nav .nav-links li {
    margin: 0;
    padding: 0;
    margin-top: -1ch;
    margin-bottom: -3ch;
    margin-left: 0rem;
}

nav .nav-links a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.current-page {
    font-weight: bold;
    box-shadow: 0px 0px;
}

/* nav .nav-links a:hover {
    font-style: italic;
} */

summary {
    cursor: pointer;
    padding-left: 4ch;
    padding-bottom: 1ch;
    font-size: 1rem;
    color: var(--text-color);
}

.default {
    background: var(--main-background);
    height: auto;
    width: 100%;
    min-width: var(--paper-min-width);
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.default p {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

.default-container {
    background-color: #ffffff;
    width: 70%;
    max-width: var(--max-width);
    min-width: var(--min-width);
    height: auto;
    aspect-ratio: 3/2;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    box-sizing: border-box;
    border: var(--paper-border);
    box-shadow: var(--paper-shadow);
}

section > .default-container:first-child {
    margin-top: 0;
    border-top: 0;
}


.default-container p {
    padding: 4ch;
    padding-top: 1ch;
    padding-bottom: 0;
}


#edit-tag{
    text-align: right;
    padding-bottom: 2ch;
    font-size: 0.75em;
}

.footnote {
    font-size: 0.75rem;
    line-height: 1.4;
}

p.footnote {
    padding-bottom: 1ch;
    padding-left: 5ch;
}

a.footnote {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0;
}

i.footnote {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0;
}

.default-image {
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;
    min-width: 50px;
    aspect-ratio: 3/2;

    padding: 0;
    margin: 0;

    border: var(--paper-border);
    border-style: solid;
    border-left: 0;
    border-right: 0;
    /* border-bottom: 0; */
    border-top: 0;
    border-collapse: collapse;

    box-sizing: border-box;
    /* box-shadow: 3px 3px rgba(0, 0, 0, 0.25); */
    /* margin-bottom: -5px; */
}

.default-image.bordered {
    border-top: var(--paper-border);
}

.default-image:hover {
    cursor: help;
}

.tooltip:after {
    background-color: white;
    /* font-family: var(--heading-font); */
}

/* Footer */
footer {
    height: auto;
    width: 70%;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 0em;
    padding-right: 0em;
    color: var(--nav-text-color);
    align-self: center;
    font-family: var(--mono-font);
}

footer p {
    margin: 0;
    font-size: 0.75rem;
    text-align: center;
}