/* Define CSS Variables */
:root {
    --primary-color: #ffb868; /* Lighter orange */
    --secondary-color: #cc7103; /* Darker orange */
    --background-gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    --card-background: rgba(0, 0, 0, 0.1);
    --text-color: #333; /* Default text color */
    --nav-background: #fff; /* Navigation background */
    --nav-text-color: #333; /* Navigation text color */
    --hero-text-color: #333; /* Navigation text color */
    --fade-gradient: linear-gradient(to top, var(--nav-background), var(--card-background));
    --paper-width: 80vw;
    --paper-border: 1px solid #000;
    --paper-border-bottom: 0px dashed;
    --paper-border-top: 1px solid;
    --paper-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    --img-shadow: 3px 3px rgba(0, 0, 0, 0.15);
    --paper-min-width: 450px;
    --paper-gap: 0px;
    --text-border-bottom: 1px solid;

    --button-hover: #e0b10e;
    --button: #f4c10f;
    /* Font Variables */
    --heading-font: 'Montserrat'; /* Heading font */
    --mono-font: 'Ubuntu Mono'; /* Heading font */
    --body-font: 'Ubuntu Mono'; /* Body font */
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 45px; */
}


/* General Styles */
mark {
    background: rgb(255, 255, 255);
}

body {
    font-family: var(--mono-font);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--text-color);
    background: var(--background-gradient); /* Use gradient variable */
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    text-align: center;
    /* align-items: center; */
    /* margin: auto; */
}

/* Main Content Wrapper */
main {
    flex: 1; /* Allows the main content to grow and fill the available space */
}

h1 {
    text-align: left;
    flex-wrap: wrap;
    font-size: 3rem;
    font-family: var(--heading-font);
    color: var(--text-color);
    max-width: 1000px;
    margin: auto;
    padding: 0;
}

h2 {
    text-align: left;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-family: var(--mono-font);
    color: var(--text-color);
    max-width: 1000px;
    margin: auto;
    border-bottom: var(--text-border-bottom);
    padding-left: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    /* box-shadow: -5px 0px rgba(0, 0, 0, 0.25); */
}

h3 {
    text-align: left;
    flex-wrap: wrap;
    font-size: 1rem;
    font-family: var(--mono-font);
    color: var(--text-color);
    max-width: 1000px;
    margin: auto;
    padding: 0;
}

p {
    text-align: left;
    flex-wrap: wrap;
    font-size: 0.9rem;
    font-family: var(--mono-font);
    color: var(--text-color);
    max-width: 1000px;
    margin: auto;
    /* border: 2px solid var(--nav-text-color); */
    /* border-top: 0px dashed; */

}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
}



span {
    font-family: var(--mono-font);
    font-size: 1.25rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    /* max-width: 600px; */
}

.fade {
    mask-image: linear-gradient(180deg, #000 0px, transparent);
  }

.blink-text {
    font-family: var(--mono-font);
    font-size: 1.25rem;
    color: var(--text-color);
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.btn {
    background-color: var(--button);
    color: var(--text-color);
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--body-font);
    border: var(--paper-border);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
}

.btn:hover {
    background-color: var(--button-hover);
}

/* Navigation Bar */
nav {
    height: 60px;
    width: var(--paper-width);
    min-width: 400px;
    margin: 0 auto;
    margin-top: 45px;
    /* margin-bottom: 45px; */
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    box-shadow: 5px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--nav-background);
    border: var(--paper-border);
    border-bottom: var(--paper-border-top);
    /* border-top: var(--paper-border-top); */
    display: flex;
    justify-content: space-between;
    top: 0px;
    align-items: center;
    position: sticky;
    z-index: 3;
}

nav .logo h1 {
    /* text-transform: uppercase; */
    font-family: var(--mono-font);
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
    /* padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--button);
    border: 2px solid var(--nav-text-color); */
}

nav .menu-icon {
    display: none; /* Show the hamburger icon */
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

nav .nav-links li {
    margin-left: 0.5rem;
    font-size: 1rem;
}

nav .nav-links a {
    color: var(--nav-text-color);
    font-family: var(--body-font);
    text-decoration: none;
    font-size: 1rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    box-sizing: border-box;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
    background-color: var(--button);
    border: var(--paper-border);
}

nav .nav-links a:hover {
    /* color: var(--button-hover); */
    background-color: var(--button-hover);
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 950px) {
    nav {
        padding: 0.5rem 1rem; /* Reduce padding for smaller screens */
        min-width: var(--paper-min-width);
        margin-top: 15px;
    }

    nav .logo h1 {
        font-size: 1rem; /* Reduce logo font size */
    }

    nav .nav-links {
        flex-direction: column; /* Stack links vertically */
        align-items: flex-end; /* Align links to the right */
        display: none; /* Hide links by default (for hamburger menu) */
        transition: all 0.3s ease; /* Smooth transition for showing/hiding links */
    }

    nav .nav-links a {
        color: var(--nav-text-color);
        font-family: var(--body-font);
        text-decoration: none;
        font-size: 1rem;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        box-sizing: border-box;
        box-shadow: 0px 0px rgba(0, 0, 0, 0.15);
        /* background-color: #fff; */
        border: 0px solid var(--nav-text-color);
    }

    nav .nav-links.active {
        margin-top: 175px;
        display: flex; /* Show links when active (for hamburger menu) */
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        box-sizing: border-box;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
        background-color: var(--button);
        border: var(--paper-border);
    }

    nav .nav-links li {
        margin: 0 0; /* Add spacing between stacked links */
    }

    /* Hamburger Menu Icon */
    nav .menu-icon {
        display: flex; /* Show the hamburger icon */
        cursor: pointer;
        font-size: 1.5rem;
        color: var(--nav-text-color);
    }

    nav .menu-icon:hover {
        color: #f4c10f;
    }

    p, h1, h2, h3 {
        max-width: 300px;
        margin: auto;
    }

    p {
        font-size: 0.85rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    /* .card h3 {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        font-family: var(--mono-font);
    }
    
    .card h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: var(--mono-font);
    }
    
    .card h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: var(--mono-font);
    }
    
    .card p {
        font-size: 0.85rem;
        font-family: var(--body-font);
    } */

}

/* Hero Section */
.hero {
    /* background: var(--nav-background); */
    background: url(images/background/fog.JPG);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: 0 auto;
    /* margin-bottom: var(--paper-gap); */
    /* margin-top: 45px; */
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 75vh;
    box-sizing: border-box;
    box-shadow: var(--paper-shadow);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    /* border-top: var(--paper-border-top); */
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
}

.hero-content img {
    max-width: 600px; /* Makes the image fill the card width */
    width: 100%; /* Makes the image fill the card width */
    max-height: 600px;
    height: auto; /* Maintains the image's aspect ratio */
    display: inline; /* Removes extra space below the image */   
    margin: auto;
    margin-top: 45px;
    justify-content: right;
    align-items: right;
    margin-bottom: 150px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
    /* display: flex; */
    /* justify-content: space-around; */
    flex-wrap: nowrap;
}

.hero-content table {
    width: 1000px;
    text-align: left;
    border: 1px solid;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

.hero-content th {
    border-bottom: 1px solid;
    font-size: 2rem;
    padding-left: 0.5em;
    padding-right: 1em;
    
} 

.hero-content td {
    border-bottom: 1px solid;
    font-style: normal;
    font-size: 0.85rem;
    padding-left: 1em;
    padding-right: 1em;
}

.hero-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 4rem 2rem; */
}

/* Steps Section */
.steps {
    background: var(--nav-background);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: var(--paper-gap);
    /* margin-top: 45px; */
    /* min-height: 100vh; */
    box-sizing: border-box;
    box-shadow: var(--paper-shadow);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    /* border-top: 0px; */
    border-top: var(--paper-border-top);
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
}

.steps-container {
    max-width: 1000px;
    display: grid;
    align-items: left; 
    grid-template-columns: 1fr 3fr;
    /* column-gap: 5px; */
    margin-bottom: 45px;
}

.steps img {
    max-height: 200px;
    max-width: 200px;
    width: 40%;
    /* border: var(--paper-border); */
    /* border-radius: 50%; */
    border-width: 1px;
    opacity: 0.5
    /* box-shadow: var(--img-shadow); */
    /* filter: blur(5px); */
}

.steps-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-top: -135px; */
    /* padding: 4rem 2rem; */
}


/* Info Section */
.info {
    background: var(--nav-background);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: var(--paper-gap);
    /* margin-top: 45px; */
    /* min-height: 100vh; */
    box-sizing: border-box;
    box-shadow: var(--paper-shadow);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    border-top: var(--paper-border-top);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
}

.info-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 4rem 2rem; */
}

/* Services Section */
.services {
    background: var(--nav-background);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: var(--paper-gap);
    /* margin-top: 45px; */
    /* min-height: 100vh; */
    box-sizing: border-box;
    box-shadow: var(--paper-shadow);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    /* border-top: 0px; */
    border-top: var(--paper-border-top);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
}

.services-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-top: -135px; */
    /* padding: 4rem 2rem; */
}

.services-cards img {
    filter: blur(5px);
}

/* Technology Section */
.technology {
    background: var(--nav-background);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: 0 auto;
    /* margin-bottom: var(--paper-gap); */
    /* margin-top: 45px; */
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 100vh;
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
}

.technology-content img {
    max-width: 500px; /* Makes the image fill the card width */
    width: 100%; /* Makes the image fill the card width */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes extra space below the image */   
    margin: auto;
    margin-top: 90px;
    /* margin-bottom: 150px; */
    box-shadow: var(--img-shadow);
}

.technology-content span {
    color: var(--card-background);
    text-align: left;
    flex-wrap: wrap;
    font-size: 3rem;
    margin-bottom: 0rem;
    font-family: var(--heading-font);
    color: var(--card-background);
    /* max-width: 600px; */
    margin: auto;
}

.technology-content .blink-text {
    font-family: var(--mono-font);
    font-size: 1.25rem;
    color: var(--text-color);
}

.tech-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Mission Section */
.mission {
    background: var(--nav-background);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: 0 auto;
    /* margin-top: 45px; */
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 100vh;
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
}

.mission-content img {
    max-width: 500px; /* Makes the image fill the card width */
    width: 100%; /* Makes the image fill the card width */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes extra space below the image */   
    margin: auto;
    margin-top: 90px;
    margin-bottom: 45px;
    box-shadow: var(--img-shadow);
}

.mission-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

/* Safety Section */
.safety {
    background: var(--nav-background);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: 0 auto;
    /* margin-top: 45px; */
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 100vh;
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
}

.safety-content h1, h2, h3 {
    padding: 0;
    margin: auto;
}

.safety-content img {
    max-width: 500px; /* Makes the image fill the card width */
    width: 100%; /* Makes the image fill the card width */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes extra space below the image */   
    margin: auto;
    margin-top: 90px;
    margin-bottom: 45px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
}

.safety-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-bottom: 100px; */
}

/* Card Styles (Shared by Services, Technology, and Safety Sections) */
.card {
    background-color: var(--nav-background);
    padding: 2rem;
    margin: 1rem;
    width: 300px;
    border: 0px solid var(--nav-text-color);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    overflow: hidden; /* Ensures the image respects the card's rounded corners */
    z-index: 2;
}

.card img {
    width: 100%; /* Makes the image fill the card width */
    height: 250px; /* Maintains the image's aspect ratio */
    display: block; /* Removes extra space below the image */
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
}

.card h3 {
    /* font-size: 1.25rem; */
    margin-bottom: 1rem;
    font-family: var(--mono-font);
}

.card h2 {
    /* font-size: 2.0rem; */
    margin-bottom: 1rem;
    font-family: var(--mono-font);
}

.card h1 {
    /* font-size: 2.5rem; */
    margin-bottom: 1rem;
    font-family: var(--mono-font);
}

.card p {
    /* font-size: 1rem; */
    font-family: var(--body-font);
}

.card .btn {
    background-color: #f4c10f;
    color: var(--text-color);
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    font-family: var(--mono-font);
    font-size: 1rem;
}

.card .btn:hover {
    background-color: #e0b10e;
}

/* About Section */
.about {
    background: var(--nav-background);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: 0 auto;
    /* margin-top: 45px; */
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 100vh;
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: left;
    color: var(--hero-text-color);
    text-align: left;
}

.about-content h1, h2, h3 {
    padding: 0;
    margin: auto;
}

.about-content img {
    max-width: 500px; /* Makes the image fill the card width */
    width: 100%; /* Makes the image fill the card width */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes extra space below the image */   
    margin: auto;
    margin-top: 90px;
    margin-bottom: 45px;
    box-shadow: var(--img-shadow);
}

/* Contact Section */
.contact {
    background: var(--nav-background);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    /* margin-top: 45px; */
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    border-top: var(--paper-border-top);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
}

.contact-content h1, h2, h3 {
    padding: 0;
    margin: auto;
}

.contact-content img {
    max-width: 500px; /* Makes the image fill the card width */
    width: 100%; /* Makes the image fill the card width */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes extra space below the image */   
    margin: auto;
    margin-top: 90px;
    margin-bottom: 45px;
    box-shadow: var(--img-shadow);
}

.contact-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 4rem 2rem; */
}

/* Footer */
footer {
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: 0 auto;
    /* margin-top: 45px; */
    margin-bottom: 45px;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    border: var(--paper-border);
    border-top: var(--paper-border-top);
    background-color: var(--nav-background);
    color: var(--nav-text-color);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 25px;
    align-items: right; 
}

footer p {
    margin: 0.5rem 0;
    font-size: 0.7rem;
    font-family: var(--body-font);
    text-align: center;
}