/* Define CSS Variables */
:root {
    /* --primary-color: #ffb868; */
    --extra-light: #ffd68a;
    --light: #f8a950;
    --medium: #f77f00;
    --dark: #d62828;
    --extra-dark: #003049;
    --primary-color: #fac3a5; /* Lighter orange */
    --secondary-color: #e48368; /* Darker orange */

    --background: var(--light);
    --main-background: #fff0d6;

    --logo-color: #ffa600;
    --text-color: #333; /* Default text color */
    --nav-text-color: #333; /* Navigation text color */
    --hero-text-color: #ffffff; /* Navigation text color */


    --background-gradient: linear-gradient(to top, var(--background), white);
    --background-gradient-gray: linear-gradient(to left, var(--secondary-color), var(--primary-color));
    --fade-gradient: linear-gradient(to top, var(--nav-background), var(--card-background));
    --text-gradient: linear-gradient(to right, var(--extra-light), var(--medium));

    --card-background: rgba(0, 0, 0, 0.1);
    --nav-background: #ffffff; /* Navigation background */

    --paper-width: 97%;
    --paper-border: 1px solid #000;
    --paper-border-bottom: 0px dashed;
    --paper-border-top: 1px solid;
    --paper-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    --img-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    --paper-min-width: 450px;
    --paper-gap: 0px;
    --text-border-bottom: 3px solid;
    --main-corner-radius: 15px;

    /* --button-hover: #e0b10e; */
    /* --button: #f4c10f; */
    --button-hover: var(--light);
    --button: var(--extra-light);

    /* Font Variables */
    --heading-font: 'Montserrat'; /* Heading font */
    --mono-font: 'Ubuntu Mono'; /* Heading font */
    --body-font: 'Ubuntu Mono'; /* Body font */
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 45px; */
}


/* General Styles */
mark {
    background: rgb(255, 255, 255);
}

body {
    font-family: var(--mono-font);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--text-color);
    background: var(--background);
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    text-align: center;
    /* align-items: center; */
    /* margin: auto; */
}

/* Main Content Wrapper */
main {
    flex: 1; /* Allows the main content to grow and fill the available space */

}

h1 {
    text-align: left;
    flex-wrap: wrap;
    font-size: 4rem;
    font-family: var(--heading-font);
    color: var(--text-color);
    max-width: 1000px;
    margin: auto;
    padding: 0;
}

h2 {
    text-align: left;
    flex-wrap: wrap;
    font-size: 3rem;
    font-family: var(--mono-font);
    color: var(--text-color);
    max-width: 1000px;
    margin: auto;
    /* border-bottom: var(--text-border-bottom); */
    padding-left: 1em;
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* box-shadow: -5px 0px rgba(0, 0, 0, 0.25); */
}

h3 {
    text-align: left;
    flex-wrap: wrap;
    font-size: 2rem;
    font-family: var(--mono-font);
    color: var(--text-color);
    max-width: 1000px;
    margin: auto;
    padding: 0;
}

p {
    text-align: left;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-family: var(--mono-font);
    color: var(--text-color);
    max-width: 1000px;
    margin: auto;
    /* border: 2px solid var(--nav-text-color); */
    /* border-top: 0px dashed; */

}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
}



span {
    font-family: var(--mono-font);
    font-size: 1.25rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    /* max-width: 600px; */
}

.fade {
    mask-image: linear-gradient(180deg, #000 0px, transparent);
  }

.blink-text {
    font-family: var(--mono-font);
    font-size: 1.25rem;
    color: var(--text-color);
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.btn {
    background-color: var(--button);
    color: var(--text-color);
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--body-font);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: var(--button);
}

.btn:hover {
    background-color: var(--button-hover);
}

/* Navigation Bar */
nav {
    height: 60px;
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
    /* margin-top: 45px; */
    /* margin-bottom: 45px; */
    padding-left: 3em;
    padding-right: 3em;
    box-sizing: border-box;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); */
    /* background-color: var(--main-background); */
    /* border-radius: var(--main-corner-radius); */
    /* backdrop-filter: blur(5px); */
    display: flex;
    justify-content: space-between;
    top: 0px;
    align-items: center;
    /* position: sticky; */
    z-index: 3;
}

nav .logo h1 {
    /* text-transform: uppercase; */
    font-family: var(--heading-font);
    font-weight: bold;
    /* font-style: italic; */
    font-size: 1.5rem;
    /* background-image: var(--text-gradient); */
    /* color: transparent; */
    /* background-clip: text; */
    color: var(--logo-color);
    /* padding-left: 0.5em; */
    /* padding-right: 0.5em; */
    /* padding-top: 0.25em; */
    /* padding-bottom: 0.25em; */
    /* box-sizing: border-box; */
    /* box-shadow: 5px 5px rgba(0, 0, 0, 0.15); */
    /* background-color: var(--button); */
    /* border: 2px solid var(--nav-text-color);  */
}

nav .menu-icon {
    display: none; /* Show the hamburger icon */
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

nav .nav-links li {
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

nav .nav-links a {
    color: var(--nav-text-color);
    font-family: var(--body-font);
    text-decoration: none;
    font-size: 1.1rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    box-sizing: border-box;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: var(--button);
    /* border: var(--paper-border); */
}

nav .nav-links a:hover {
    /* color: var(--button-hover); */
    background-color: var(--button-hover);
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 950px) {
    nav {
        padding: 0.5rem 1rem; /* Reduce padding for smaller screens */
        min-width: var(--paper-min-width);
        margin-top: 15px;
    }

    nav .logo h1 {
        font-size: 1rem; /* Reduce logo font size */
    }

    nav .nav-links {
        flex-direction: column; /* Stack links vertically */
        align-items: flex-end; /* Align links to the right */
        display: none; /* Hide links by default (for hamburger menu) */
        transition: all 0.3s ease; /* Smooth transition for showing/hiding links */
    }

    nav .nav-links a {
        color: var(--nav-text-color);
        font-family: var(--body-font);
        text-decoration: none;
        font-size: 1rem;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        box-sizing: border-box;
        box-shadow: 0px 0px rgba(0, 0, 0, 0.15);
        /* background-color: #fff; */
        border: 0px solid var(--nav-text-color);
    }

    nav .nav-links.active {
        margin-top: 175px;
        display: flex; /* Show links when active (for hamburger menu) */
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        box-sizing: border-box;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
        background-color: var(--button);
        border: var(--paper-border);
    }

    nav .nav-links li {
        margin: 0 0; /* Add spacing between stacked links */
    }

    /* Hamburger Menu Icon */
    nav .menu-icon {
        display: flex; /* Show the hamburger icon */
        cursor: pointer;
        font-size: 1.5rem;
        color: var(--nav-text-color);
    }

    nav .menu-icon:hover {
        color: #f4c10f;
    }

    p, h1, h2, h3 {
        max-width: 300px;
        margin: auto;
    }

    p {
        font-size: 0.85rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    /* .card h3 {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        font-family: var(--mono-font);
    }
    
    .card h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: var(--mono-font);
    }
    
    .card h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: var(--mono-font);
    }
    
    .card p {
        font-size: 0.85rem;
        font-family: var(--body-font);
    } */

}

/* Hero Section */
.hero {
    background: url(images/background/chi_const.JPG);
    background-size: cover;
    height: auto;
    width: 97%;
    min-width: var(--paper-min-width);
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 75vh;
    box-sizing: border-box;
    border-top: 0px;
    display: flex;
    justify-content: left;
    color: var(--hero-text-color);
    border-radius: var(--main-corner-radius);
    margin-bottom: 45px;
}

.hero-content h1 {
    background-image: var(--text-gradient);
    color: transparent;
    background-clip: text;
    /* color: var(--hero-text-color); */
    font-size: 5rem;
    line-height: 1em;

}

.hero-content h2 {
    line-height: 1em;
    color: var(--main-background);
    /* text-shadow: 1px 1px 2px black; */
}

.hero-content h3 {
    color: var(--main-background);
    text-shadow: 1px 1px 2px black;
}

.hero-content p {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--main-background);
    text-shadow: 1px 1px 2px black;
}

.hero-content img {
    max-width: 600px; /* Makes the image fill the card width */
    width: 100%; /* Makes the image fill the card width */
    max-height: 600px;
    height: auto; /* Maintains the image's aspect ratio */
    display: inline; /* Removes extra space below the image */   
    margin: auto;
    justify-content: right;
    align-items: right;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
    /* display: flex; */
    /* justify-content: space-around; */
    flex-wrap: nowrap;
}

.hero-content table {
    width: 1000px;
    text-align: left;
    border: 1px solid;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

.hero-content th {
    border-bottom: 1px solid;
    font-size: 2rem;
    padding-left: 0.5em;
    padding-right: 1em;
    
} 

.hero-content td {
    border-bottom: 1px solid;
    font-style: normal;
    font-size: 0.85rem;
    padding-left: 1em;
    padding-right: 1em;
}

.hero-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 4rem 2rem; */
}

/* Default Sections */
.default {
    /* background: var(--nav-background); */
    /* background: var(--main-background); */
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: auto;
    margin-top: 45px;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
    border-radius: var(--main-corner-radius);
    max-width: 135vh;
}

.default-container {
    display: grid;
    align-items: left; 
    grid-template-columns: 2fr 1fr;
    border-radius: var(--main-corner-radius);
    /* column-gap: 5px; */
}

.default img {
    max-height: 200px;
    max-width: 200px;
    width: 40%;
    /* border: var(--paper-border); */
    /* border-radius: 50%; */
    border-width: 1px;
    opacity: 0.5
    /* box-shadow: var(--img-shadow); */
    /* filter: blur(5px); */
}

.default-cards {
    background: var(--nav-background);
    padding: 2rem;
    /* margin: 1rem; */
    width: auto;
    overflow: hidden; /* Ensures the image respects the card's rounded corners */
    z-index: 2;
    border-radius: var(--main-corner-radius);
}



/* Technology Section */
.technology {
    background: var(--nav-background);
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: 0 auto;
    /* margin-bottom: var(--paper-gap); */
    /* margin-top: 45px; */
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 100vh;
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    border: var(--paper-border);
    border-bottom: var(--paper-border-bottom);
    border-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-text-color);
    text-align: center;
}

.technology-content img {
    max-width: 500px; /* Makes the image fill the card width */
    width: 100%; /* Makes the image fill the card width */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes extra space below the image */   
    margin: auto;
    margin-top: 90px;
    /* margin-bottom: 150px; */
    box-shadow: var(--img-shadow);
}

.technology-content span {
    color: var(--card-background);
    text-align: left;
    flex-wrap: wrap;
    font-size: 3rem;
    margin-bottom: 0rem;
    font-family: var(--heading-font);
    color: var(--card-background);
    /* max-width: 600px; */
    margin: auto;
}

.technology-content .blink-text {
    font-family: var(--mono-font);
    font-size: 1.25rem;
    color: var(--text-color);
}

.tech-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* Card Styles (Shared by Services, Technology, and Safety Sections) */
.card {
    /* background-color: var(--nav-background); */
    background: var(--nav-background);
    padding: 2rem;
    margin: 1rem;
    width: 300px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); */
    overflow: hidden; /* Ensures the image respects the card's rounded corners */
    z-index: 2;
    border-radius: var(--main-corner-radius);
}

.card img {
    width: 100%; /* Makes the image fill the card width */
    height: 250px; /* Maintains the image's aspect ratio */
    display: block; /* Removes extra space below the image */
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
}

.card h3 {
    /* font-size: 1.25rem; */
    margin-bottom: 1rem;
    font-family: var(--mono-font);
}

.card h2 {
    font-size: 2.0rem;
    margin-bottom: 1rem;
    font-family: var(--mono-font);
}

.card h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: var(--mono-font);
}

.card p {
    /* font-size: 1rem; */
    font-family: var(--body-font);
}

.card .btn {
    background-color: #f4c10f;
    color: var(--text-color);
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    font-family: var(--mono-font);
    font-size: 1rem;
}

.card .btn:hover {
    background-color: #e0b10e;
}


/* Footer */
footer {
    height: auto;
    width: var(--paper-width);
    min-width: var(--paper-min-width);
    margin: 0 auto;
    /* margin-top: 45px; */
    margin-bottom: 45px;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    border-radius: var(--main-corner-radius);
    /* box-shadow: 5px 5px rgba(0, 0, 0, 0.25); */
    background-color: var(--nav-background);
    /* background: url(images/filler/plant_dirt_noise.JPG);
    background-size: cover; */
    color: var(--nav-text-color);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 25px;
    align-items: right; 
}

footer p {
    margin: 0.5rem 0;
    font-size: 0.7rem;
    font-family: var(--body-font);
    text-align: center;
    /* color: var(--main-background) */
}